<div class="container-fluid">
  <div class="row" align="center" style="padding-top: 10px">
    <h3>Create Customer</h3>
  </div>
  <div class="row" style="padding-bottom: 10px">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <form [formGroup]="customerForm" (ngSubmit)="createCustomerReactiveForm()">
        <mat-form-field class="example-full-width" appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Code</mat-label>
          <input formControlName="customerCode" matInput>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerCode" [hidden]="validator.valid"
               style="background: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerCode').hasError(validator.type)&& customerForm.get('customerCode').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Type</mat-label>
          <mat-select formControlName="customerType">
            <mat-option *ngFor="let type of customerType" [value]="type">
              {{type.customerTypeName}}
            </mat-option>
          </mat-select>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerType" [hidden]="validator.valid"
               style="background-color: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerType').hasError(validator.type)&& customerForm.get('customerType').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Name</mat-label>
          <input formControlName="customerName" matInput>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerName" [hidden]="validator.valid"
               style="background-color: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerName').hasError(validator.type)&& customerForm.get('customerName').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Customer Birthday</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="customerBirthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Gender</mat-label>
          <mat-select formControlName="customerGender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <!--        <div class="mb-3">-->
        <!--          <label class="form-label">Customer Gender: </label>-->
        <!--          <br>-->
        <!--          <div class="form-check-inline mb-3">-->
        <!--            <input class="form-check-input" type="radio" id="male" formControlName="customerGender"-->
        <!--                   value="Male">-->
        <!--            <label class="form-check-label" for="male">-->
        <!--              Male-->
        <!--            </label>-->
        <!--          </div>-->
        <!--          <div class="form-check-inline mb-3">-->
        <!--            <input class="form-check-input" type="radio" id="female" formControlName="customerGender"-->
        <!--                   value="Female">-->
        <!--            <label class="form-check-label" for="female">-->
        <!--              Female-->
        <!--            </label>-->
        <!--          </div>-->
        <!--          <div class="form-check-inline mb-3">-->
        <!--            <input class="form-check-input" type="radio" id="other" formControlName="customerGender"-->
        <!--                   value="Other">-->
        <!--            <label class="form-check-label" for="other">-->
        <!--              Other-->
        <!--            </label>-->
        <!--          </div>-->
        <!--        </div>-->
        <mat-form-field class="example-full-width" appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Id Card</mat-label>
          <input formControlName="customerIdCard" matInput>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerIdCard"
               [hidden]="validator.valid"
               style="background-color: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerIdCard').hasError(validator.type)&& customerForm.get('customerIdCard').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Phone</mat-label>
          <input formControlName="customerPhone" matInput>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerPhone" [hidden]="validator.valid"
               style="background-color: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerPhone').hasError(validator.type)&& customerForm.get('customerPhone').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="padding-right: 20px">
          <mat-label>Customer Email</mat-label>
          <input type="email" formControlName="customerEmail" matInput>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerEmail" [hidden]="validator.valid"
               style="background-color: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerEmail').hasError(validator.type)&& customerForm.get('customerEmail').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Customer Address</mat-label>
          <input formControlName="customerAddress" matInput>
          <div class="alert-danger" *ngFor="let validator of validationMessage.customerAddress"
               [hidden]="validator.valid"
               style="background-color: transparent; color: red">
            <div
              *ngIf="customerForm.get('customerAddress').hasError(validator.type)&& customerForm.get('customerAddress').dirty">{{validator.message}}</div>
          </div>
        </mat-form-field>
        <div>
        <span style="padding-right: 30px">
          <button type="submit" mat-raised-button color="warn">Submit</button>
        </span>
          <span>
          <button mat-raised-button color="primary" routerLink="/customer/list">Return List</button>
        </span>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<mat-form-field appearance="fill" hidden>
  <mat-label>Message</mat-label>
  <input matInput value="Success" #message>
</mat-form-field>

<mat-form-field appearance="fill" hidden>
  <mat-label>Action</mat-label>
  <input matInput value="Close" #action>
</mat-form-field>
