<div class="container-fluid">
  <div class="row" align="center" style="padding-top: 10px">
    <h3>Create Customer</h3>
    <p>
      <button routerLink="/employee/list" class="btn btn-primary">Back to customer</button>
    </p>
  </div>
  <div class="row" style="padding-bottom: 10px">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <form [formGroup]="employeeForm" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="employeeId" class="form-label">Employee Id</label>
          <input type="text" formControlName="employeeId" class="form-control" id="employeeId">
        </div>
        <div class="mb-3">
          <label for="employeeName" class="form-label">Employee Name</label>
          <input type="text" formControlName="employeeName" class="form-control" id="employeeName">
        </div>
        <div class="mb-3">
          <label for="employeePosition" class="form-label">Position</label>
          <select class="form-select" id="employeePosition" formControlName="employeePosition">
            <option *ngFor="let type of position" [ngValue]="type">{{type.positionName}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="employeeDivision" class="form-label">Division</label>
          <select class="form-select" id="employeeDivision" formControlName="employeeDivision">
            <option *ngFor="let type of division" [ngValue]="type">{{type.divisionName}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="employeeEducationDegree" class="form-label">Education Degree</label>
          <select class="form-select" id="employeeEducationDegree" formControlName="employeeEducationDegree">
            <option *ngFor="let type of educationDegree" [ngValue]="type">{{type.educationDegreeName}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="employeeBirthday" class="form-label">Employee Birthday</label>
          <input type="date" formControlName="employeeBirthday" class="form-control" id="employeeBirthday">
        </div>
        <div class="mb-3">
          <label for="employeeIdCard" class="form-label">Employee Id Card</label>
          <input type="text" formControlName="employeeIdCard" class="form-control" id="employeeIdCard">
        </div>
        <div class="mb-3">
          <label for="employeeSalary" class="form-label">Employee Salary</label>
          <input type="text" formControlName="employeeSalary" class="form-control" id="employeeSalary">
        </div>
        <div class="mb-3">
          <label for="employeePhone" class="form-label">Employee Phone</label>
          <input type="text" formControlName="employeePhone" class="form-control" id="employeePhone">
        </div>
        <div class="mb-3">
          <label for="employeeEmail" class="form-label">Employee Email</label>
          <input type="text" formControlName="employeeEmail" class="form-control" id="employeeEmail">
        </div>
        <div class="mb-3">
          <label for="employeeAddress" class="form-label">Employee Address</label>
          <input type="text" formControlName="employeeAddress" class="form-control" id="employeeAddress">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
