<div class="container-fluid" style="padding-bottom: 100px; padding-top: 30px">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="searchName" [(ngModel)]="searchName" (ngModelChange)="search()"
             placeholder="Search by name">
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>
        Customer List
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
        <tr align="center">
          <th scope="col" (click)="sort('id')">Id&nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col">No</th>
          <th scope="col" (click)="sort(customerName)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col">Customer Code</th>
          <th scope="col">Gender</th>
          <th scope="col">Birth Day</th>
          <th scope="col">Id Card</th>
          <th scope="col">Customer Type</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let customer of customers | orderBy: key: reverse | paginate:{itemsPerPage: 2, currentPage:page}; let i = index"
          align="center">
          <td>{{customer.id}}</td>
          <td>{{i + 1}}</td>
          <td>{{customer.customerName}}</td>
          <td>{{customer.customerCode}}</td>
          <td>{{customer.customerGender}}</td>
          <td>{{customer.customerBirthday}}</td>
          <td>{{customer.customerIdCard}}</td>
          <td>{{customer.customerType.customerTypeName}}</td>
          <td>{{customer.customerPhone}}</td>
          <td>{{customer.customerEmail}}</td>
          <td>{{customer.customerAddress}}</td>
          <td>
            <a class="btn btn-warning" [routerLink]="['/customer/edit',customer.id]">Edit</a>
          </td>
          <td>
            <button mat-raised-button (click)="deleteCustomer(customer.id, customer.customerName)" type="button"
                    data-bs-toggle="modal"
                    class="btn btn-danger" data-bs-target="#exampleModal">Delete
            </button>
          </td>
        </tr>
        </tbody>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a class="btn bg-success" style="color: white" routerLink="/customer/create">
        Add new customer
      </a>
    </div>
  </div>
</div>

