<!--<div class="container-fluid">-->
<!--  <div class="row" align="center" style="padding-top: 10px">-->
<!--    <h3>Create Customer</h3>-->
<!--  </div>-->
<!--  <div class="row" style="padding-bottom: 10px">-->
<!--    <div class="col-lg-3"></div>-->
<!--    <div class="col-lg-6">-->
<!--      <form [formGroup]="customerForm" (ngSubmit)="submit()">-->
<!--        <div class="mb-3">-->
<!--          <label for="customerId" class="form-label">Customer Id</label>-->
<!--          <input type="text" formControlName="customerId" class="form-control" id="customerId">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerCode" class="form-label">Customer Code</label>-->
<!--          <input type="text" formControlName="customerCode" class="form-control" id="customerCode">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerType" class="form-label">Customer Type</label>-->
<!--          <select  class="form-select" id="customerType" formControlName="customerType">-->
<!--            <option *ngFor="let type of customerType" [ngValue]="type">{{type.customerTypeName}}</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerName" class="form-label">Customer Name</label>-->
<!--          <input type="text" formControlName="customerName" class="form-control" id="customerName">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerBirthday" class="form-label">Customer Birthday</label>-->
<!--          <input type="text" formControlName="customerBirthday" class="form-control" id="customerBirthday">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerGender" class="form-label">Customer Gender</label>-->
<!--          <input type="text" formControlName="customerGender" class="form-control" id="customerGender">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerIdCard" class="form-label">Customer Id Card</label>-->
<!--          <input type="text" formControlName="customerIdCard" class="form-control" id="customerIdCard">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerPhone" class="form-label">Customer Phone</label>-->
<!--          <input type="text" formControlName="customerPhone" class="form-control" id="customerPhone">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerEmail" class="form-label">Customer Email</label>-->
<!--          <input type="text" formControlName="customerEmail" class="form-control" id="customerEmail">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label for="customerAddress" class="form-label">Customer Address</label>-->
<!--          <input type="text" formControlName="customerAddress" class="form-control" id="customerAddress">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="col-lg-3"></div>-->
<!--  </div>-->
<!--</div>-->
